<div class="login">

<h1 class="form-header">Edit Details</h1>

<div class="container edit">
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
            <% end %>
</ul>

<%= form_for @user do |f| %>
<%= f.label :email, "Update Email" %>
<%= f.email_field :email, :value => @user.email %>
<%= f.label :password, "Update Password" %>
<%= f.password_field :password %>
<%= f.label :password_confirmation, :value => "Confirm Password" %>
<%= f.password_field :password_confirmation %>
<%= f.label :select, :class => 'select-label', :value => "Favourite Team" %>
<%= f.select :team_id, Team.pluck(:name, :id), :required => true, :prompt => "Choose a team" %>
<%= f.submit "Confirm", :class => 'button' %>
<% end %>

</div>
</div>