<div class="container">

<header>
<h1>NB<span class="header">cr<span class="a">A</span>y</span></h1>


<% if @current_user.present? %>
  <p>Welcome Back
    <%= @current_user.email %></p>
<% end %>

</header>

<div class="content">

<div class="twitter">
<h3>Tweets</h3>
<p>
<% @tweets.each do |tweet| %>
<%= tweet.embed.html_safe %>
</p>
<% end %>
</div>

<div class="news">
  
  <h3>News</h3>
  <% @news.each do |news| %>
  <p>
    
    <%= news.source %>
    <%= news.title  %>
    <%= news.description %>
    
  </p>
  
  <% end %>
</div>



</div>
</div>





