<h1>Home Page Coming Soon</h1>

<h3>Recent Scores</h3>
<% @games.each do |game| %>
<p><%= game["event_home_team"] %> <%= game["event_final_result"][0...3] %></p>
<p>
  <%= game["event_away_team"] %>
  <%= game["event_final_result"][-3..-1] %>
</p>
<% end %>

<% if @current_user.present? %>
  <p>Welcome Back
    <%= @current_user.email %></p>
<% end %>

<h3>Tweets</h3>
<p>
<% @tweets.each do |tweet| %>
<%= tweet.embed.html_safe %>
</p>
<% end %>







