<h1>Home Page Coming Soon</h1>

<h3>Recent Scores</h3>
<% @games.each do |game| %>
<p><%= game.home_team %> <%= game.home_score %></p>
<p>
  <%= game.away_team %>
  <%= game.away_score %>
</p>
<% end %>

<% if @current_user.present? %>
  <p>Welcome Back
    <%= @current_user.email %></p>
<% end %>

<h3>Tweets</h3>
<p>
<% @tweets.each do |tweet| %>
<%= tweet.embed.html_safe %>
</p>
<% end %>







