
<div class="offset-md-4 col-md-3">

<header>
  <%= image_tag "nba.png", :class => 'logo' %>
<h1 class="NB">NB<span class="header">cr<span class="a">A</span>y</span></h1>
  </div>

</header>
<div class="container">
<div class="row">

<div class="col-md-6">
  <div class="twitter-heading">
    <%= image_tag "twitter.svg", :class => 'icon1' %>
    <%= image_tag "hastag.svg", :class => 'icon2' %>
<h4>NBA</h4>
</div>
<p>
<% @tweets.each do |tweet| %>
<%= tweet.embed.html_safe %>
</p>
<% end %>
</div>

<div class="col-md-6">
  <div class="news-heading">
  <%= image_tag "newspaper.svg", :class => 'icon3' %>
  </div>
  <% @news.each do |news| %>
  <div class="news-content">
    <h3><%= news.title  %></h3>
    <% if news.image.present? %>
    <%= link_to (image_tag news.image, :class => 'news-image'), news.url, :target => "_blank" %>
    <% end %>
    <p>
    <%= news.content %> <%= link_to news.source, news.url, :target => "_blank" %>
    </p>
  </div>
  
  <% end %>
</div>



</div>
</div>





